# Ignore bin and Debug folders

[Bb]in/
[Dd]ebug/
[Vv]s/
/.vs/TicketEase/v17
/.vs/TicketEase/FileContentIndex/ea03466d-ac05-4de2-92e1-6b10a85b1b70.vsidx
/.vs/TicketEase/FileContentIndex/1c49997d-5d84-4970-b799-c96f4497522e.vsidx
*.vsidx
/.vs/TicketEase/FileContentIndex/72a13e5f-b666-488e-920f-aab3f9fdcd3c.vsidx
/.vs/TicketEase/FileContentIndex/72a13e5f-b666-488e-920f-aab3f9fdcd3c.vsidx
/.vs/TicketEase/FileContentIndex/72a13e5f-b666-488e-920f-aab3f9fdcd3c.vsidx
*.v2
/.vs/TicketEase/FileContentIndex/72a13e5f-b666-488e-920f-aab3f9fdcd3c.vsidx
